<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Error</title>
        <link rel="stylesheet" href="static/styles.css">
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    </head>
    <body>
        <h1>
            Summariser
        </h1>
        <h3>
            Uses a BART transformer to generate an accurate summary of an article or topic
        </h3>
        <div class="flex-container">
            <div class="input">
                <h2>
                    Input:
                </h2>
                <p>
                    {{ text }}
                </p>
            </div>
            <div class="error">
                <h2>
                    Error:
                </h2>
                <p style="color: red;">
                    {{ error }}
                </p>
            </div>
        </div>
    </body>
</html>