<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Summary</title>
        <link rel="stylesheet" href="static/styles.css">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    </head>
    <body>
        <h1>
            Summariser
        </h1>
        <h3>
            Uses a BART transformer to generate an accurate summary of an article or topic
        </h3>
        <div class="flex-container">
            <div class="stats">
                <h1>
                    Stats:
                </h1>
                <p>
                    Text summarised - {{ text_title }}<br>
                    Time elapsed - {{ time }}s<br>
                    Accuracy (Rouge-2 F1 score) - {{ score }}<br>
                    Reduction - {{ reduction }}%
                </p>
                <form action="/flag" method="post" autocomplete="off">
                    <h3>Report:</h3>
                    <input type="radio" id="innacurate summary" name="flag" value="Innacurate summary">
                    <label for="innacurate summary">Innacurate summary</label><br>
                    <input type="radio" id="innacurate accuracy score" name="flag" value="Innacurate accuracy score">
                    <label for="innacurate accuracy score">Innacurate accuracy score</label><br>
                    <input type="radio" id="other" name="flag" value="other">
                    <label for="other">Other</label><br>
                    <input type="submit" name="flag" value="Report">
                </form>
            </div>
            <div class="summary">
                <h1>
                    Summary:
                </h1>
                <p>
                    {{ summary }}<br><br>
                </p>
                <p style="color: red;">
                    {{ error }}
                </p>
            </div>
        </div>
    </body>
</html>